<div class="card-unificada">
  <div class="header-card">
    <h3 class="titulo-seccion">Mi Cuenta</h3>
  </div>

  <div class="divisor"></div>

  <div class="contenido-card">
    <div class="acciones-list" [class.layout-split]="!esAdminOriginal()">
      <div class="accion item-1" routerLink="/cliente/mis-reclamos">
        <i class="fa-solid fa-clipboard-list icon"></i>
        <p>Mis reclamos / Tickets</p>
      </div>

      <div class="accion item-2" (click)="cambiarPassword()">
        <i class="fa-solid fa-key icon"></i>
        <p>Cambiar mi contraseña</p>
      </div>

      <div class="accion item-3" (click)="cerrarSesion()">
        <i class="fa-solid fa-right-from-bracket icon"></i>
        <p>Cerrar sesión</p>
      </div>

      @if (!esAdminOriginal()) {
        <div class="accion item-4 accion-roja" (click)="eliminarCuenta()">
          <i class="fa-solid fa-user-slash icon icon-rojo"></i>
          <p>Eliminar mi cuenta</p>
        </div>
      }
    </div>
  </div>
</div>
