<form class="form-reclamo" [formGroup]="formReclamo" (ngSubmit)="onSubmit()">
  
  <!-- Email -->
  <div class="form-field">
    <label for="email" class="form-label">Email de contacto</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      class="form-input"
      placeholder="Ej.: juanperez@gmail.com"
    />
  </div>

  <!-- Motivo (Selector) -->
  <div class="form-field">
    <label class="form-label">Motivo del reporte</label>

    <div class="select-custom-wrapper">
      <div
        class="form-input dropdown-trigger"
        [class.open]="openCategoria"
        (click)="toggleCategoria($event)"
      >
        <span [class.placeholder-text]="!formReclamo.get('categoria')?.value" class="selected-text">
          {{ getSelectedLabel() }}
        </span>

        <i class="fa-solid fa-chevron-down arrow-icon"></i>
      </div>

      <!-- Desplegable -->
      @if (openCategoria) {
        <ul class="options-list">
          @for (opcion of categoriasOptions; track opcion.value) {
            <li (click)="selectCategoria(opcion.value); $event.stopPropagation()">
              {{ opcion.label }}
            </li>
          }
        </ul>
      }
    </div>
  </div>

  <!-- Descripción -->
  <div class="form-field">
    <div class="label-container">
      <label for="descripcion" class="form-label">Detalle del problema</label>
      <span class="char-counter">{{ charsCount }}/400</span>
    </div>

    <textarea
      id="descripcion"
      formControlName="descripcion"
      class="form-input form-textarea"
      placeholder="Contanos qué pasó..."
      rows="6"
    ></textarea>
  </div>

  <button
    type="submit"
    class="btn-primary-action btn-full-width"
    [disabled]="formReclamo.invalid"
  >
    Enviar Reporte
  </button>

</form>
