<form class="form-reclamo" [formGroup]="formReclamo" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="email" class="form-label">Email de contacto</label>
    <input
      id="email"
      formControlName="email"
      type="email"
      class="form-input"
      placeholder="Ej.: juanperez@gmail.com"
    />
  </div>

  <div class="form-field">
    <label class="form-label">Motivo del reporte</label>

    <div class="select-custom-wrapper">
      <div
        class="form-input dropdown-trigger"
        [class.open]="openCategoria"
        (click)="toggleCategoria($event)"
      >
        <span [class.placeholder-text]="!formReclamo.get('categoria')?.value" class="selected-text">
          {{ getSelectedLabel() }}
        </span>

        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="arrow-icon"
        >
          <polyline points="6 9 12 15 18 9"></polyline>
        </svg>
      </div>

      @if (openCategoria) {
        <ul class="options">
          @for (opcion of categoriasOptions; track opcion.value) {
            <li (click)="selectCategoria(opcion.value); $event.stopPropagation()">
              {{ opcion.label }}
            </li>
          }
        </ul>
      }
    </div>
  </div>

  <div class="form-field">
    <div class="label-container">
      <label for="descripcion" class="form-label">Detalle del problema</label>
      <span class="char-counter">{{ charsCount }}/400</span>
    </div>

    <textarea
      id="descripcion"
      formControlName="descripcion"
      class="form-input form-textarea"
      rows="6"
    ></textarea>
  </div>

  <button
    type="submit"
    class="btn-base btn-primary btn-submit"
    [disabled]="formReclamo.invalid"
    [class.disabled]="formReclamo.invalid"
  >
    Enviar Reporte
  </button>
</form>
