
.main-container {
  width: 95%;
  margin: 2rem auto;
}

.perfil-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.col-notificaciones {
  grid-area: noti;
}
.col-contenido {
  display: contents;
}

app-datos-usuario-card {
  grid-area: datos;
}
app-panel-acciones-cuenta {
  grid-area: panel;
}
.seccion-pedidos {
  grid-area: pedidos;
}

.perfil-layout {
  grid-template-areas:
    'datos'
    'noti'
    'pedidos'
    'panel';
}


@media (min-width: 1024px) {
  .main-container {
    width: 85%;
    margin: 4rem auto;
  }

  .perfil-layout {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 50rem;
  }

  .col-notificaciones {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
  }

  .col-notificaciones app-notificaciones-card {
    flex: 1;
  }

  .col-contenido {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2rem;
  }

  .grid-superior {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex: 0 0 auto;
  }

  .grid-superior > app-datos-usuario-card,
  .grid-superior > app-panel-acciones-cuenta {
    flex: 1;
  }

  .seccion-pedidos {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .seccion-pedidos app-pedidos-card {
    flex: 1;
  }
}
