<div class="modal-wrapper">
  
  <div class="modal-header">
    <h2 class="modal-title danger-title">Eliminar Cuenta</h2>
    <button type="button" class="btn-icon-close" (click)="cancelar()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="modal-body simple-body">
    <div class="alert-content">
      <div class="icon-warning-container">
        <i class="fa-solid fa-triangle-exclamation"></i>
      </div>
      
      <p class="texto-advertencia">
        Esta acción es <span class="text-danger">irreversible</span>. <br>
        ¿Estás seguro que querés continuar?
      </p>
    </div>
  </div>

  <div class="modal-footer center-footer">
    <div class="footer-actions">
      <button type="button" class="btn-secondary-action" (click)="cancelar()">
        Cancelar
      </button>
      
      <button type="button" class="btn-danger-action" (click)="confirmar()">
        Estoy seguro
      </button>
    </div>
  </div>

</div>
