/* --- COMPONENTE SNACKBAR --- */
:host {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  font-family: 'Inria Sans', sans-serif;
  font-size: 1.8rem;
  padding: 0.6rem 1.2rem;
  width: 100%;
}

.snackbar-icon {
  margin-right: 1rem;
  color: var(--color-primary-light);
  flex-shrink: 0;
}

#mensaje {
  line-height: 1;
  flex: 1;
  text-align: center;
}
