<div class="page-container">
  <div class="header-section">
    <div class="titulo-row">
      <h1 class="main-title">Mis Reclamos</h1>
      <app-info-reclamo-tooltip></app-info-reclamo-tooltip>
    </div>
    <p class="subtitulo">Historial de reportes y tickets de soporte</p>
  </div>

  <div class="controls-container">
    <div class="select-custom-wrapper">
      <div class="select-trigger" [class.open]="openFiltro" (click)="toggleFiltro($event)">
        <div class="selected-option">{{ getLabelFiltroActual() }}</div>
        <div class="arrow">▾</div>
      </div>

      @if (openFiltro) {
        <ul class="options">
          @for (filtro of filtrosDisponibles; track filtro.value) {
            <li (click)="setFiltro(filtro.value); $event.stopPropagation()">{{ filtro.label }}</li>
          }
        </ul>
      }
    </div>

    <a routerLink="/reclamos" class="btn btn-primary btn-action">
      <i class="fa-solid fa-plus"></i> Nuevo Reclamo
    </a>
  </div>

  <div class="lista-reclamos">
    @if (reclamos().length === 0) {
      <div class="state-msg empty">
        <i class="fa-regular fa-folder-open icon-empty"></i>
        <h3>No se encontraron reclamos</h3>
        <p>No hay tickets que coincidan con tu búsqueda o aún no has creado ninguno.</p>
      </div>
    } @else {
      @for (ticket of reclamos(); track ticket.id) {
        <app-reclamo-card [reclamo]="ticket"></app-reclamo-card>
      }

      @if (pageInfo(); as info) {
        <app-paginador 
            [currentPage]="info.number" 
            [totalPages]="info.totalPages" 
            (pageChange)="onPageChange($event)">
        </app-paginador>
      }
    }
  </div>
</div>
