<div class="modal-wrapper">
  
  <div class="modal-header">
    <h2 class="modal-title danger-title">Ocurrió un error</h2>
    <button type="button" class="btn-icon-close" [mat-dialog-close]="true">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="modal-body error-body-layout">
    
    <div class="error-icon-column">
      <div class="icon-background">
        <i class="fa-solid fa-triangle-exclamation"></i>
      </div>
    </div>

    <!-- Mensaje -->
    <div class="error-text-column">
      <h3 class="error-subtitle">No pudimos completar la acción</h3>
      <p class="error-message">
        {{ data.message }}
      </p>
    </div>

  </div>

  <div class="modal-footer footer-right-align">
    <button type="button" class="btn-secondary-action" [mat-dialog-close]="true">
      Volver
    </button>
  </div>

</div>