<div class="modal-wrapper">
  
  <div class="modal-header">
    <h2 class="modal-title" [class.text-danger]="esCritico()">
      {{ data.titulo }}
    </h2>
    <button type="button" class="btn-icon-close" (click)="procesar(false)">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <div class="modal-body confirmation-body">
    <div class="message-content">
      @if (data.textoEsHtml) {
        <p [innerHTML]="data.texto"></p>
      } @else {
        <p>{{ data.texto }}</p>
      }
    </div>
  </div>

  <div class="modal-footer">
    <div class="footer-left"></div>
    
    <div class="footer-right">
      <button type="button" class="btn-secondary-action" (click)="procesar(false)">
        Cancelar
      </button>
      
      <button 
        type="button" 
        [class]="esCritico() ? 'btn-danger-action' : 'btn-primary-action'" 
        (click)="procesar(true)"
      >
        Confirmar
      </button>
    </div>
  </div>

</div>