<div class="modal-container">
  <div class="header-container">
    <h2>{{ data.titulo }}</h2>
  </div>

  <div class="content-container">
    @if (data.textoEsHtml) {
      <p [innerHTML]="data.texto"></p>
    } @else {
      <p>{{ data.texto }}</p>
    }

    <div class="btns-container">

      <button
        class="btn-base"
        [class.btn-danger]="esCritico()" 
        [class.btn-primary]="!esCritico()"
        (click)="procesar(true)">
        Confirmar
      </button>

      <button
        class="btn-base btn-secondary"
        (click)="procesar(false)">
        Cancelar
      </button>

    </div>
  </div>
</div>
