.header-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 2rem 0 2rem;
}

.titulo-form {
  --font-size: 2.4rem;

  text-align: center;
  font-size: var(--font-size);
  line-height: var(--font-size);
  font-weight: bold;
  margin: 0;
  color: var(--color-text-primary);
}

.btn-close {
  background-color: inherit;
  color: var(--color-primary);
  font-size: 3rem;
}

/* Contenedor principal */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  padding: 2rem;
  width: 100%;
  background: var(--color-background-secondary);
  border-radius: 1rem;
}

/* Botones */
.actions-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}
