<div class="header-container">
  <h2 class="titulo-form">Actualizar datos</h2>

  <button class="btn btn-close" (click)="closeDialog()">
    <i class="fa-solid fa-xmark"></i>
  </button>
</div>

<form class="form" [formGroup]="form" (ngSubmit)="actualizarUsuario()">
  <!-- Campos -->
  <div class="form-field">
    <label class="form-label">Nombre completo</label>

    <input
      type="text"
      class="form-input"
      formControlName="nombreCompleto"
      placeholder="Ej: Juan Pérez"
    />

    @if (form.get('nombreCompleto')?.invalid && form.get('nombreCompleto')?.touched) {
    <div class="error-messages">
      <p>El nombre es obligatorio.</p>
    </div>
    }
  </div>

  <div class="form-field">
    <label class="form-label">Email</label>

    <input type="email" class="form-input" formControlName="email" placeholder="ejemplo@mail.com" />

    @if (form.get('email')?.invalid && form.get('email')?.touched) {
    <div class="error-messages">
      <p>Ingresá un email válido.</p>
    </div>
    }
  </div>

  <div class="form-field">
    <label class="form-label">Teléfono</label>

    <input
      type="text"
      class="form-input"
      formControlName="telefono"
      placeholder="Entre 8 y 15 dígitos"
    />

    @if (form.get('telefono')?.invalid && form.get('telefono')?.touched) {
    <div class="error-messages">
      <p>Debe tener entre 8 y 15 dígitos.</p>
    </div>
    }
  </div>

  <!-- Botones -->
  <button type="submit" class="btn btn-crear" [disabled]="form.invalid || cargando()">
    @if (cargando()) { Actualizando... } @else { Guardar cambios }
  </button>
</form>
