<div class="modal-wrapper">
  
  <div class="modal-header header-transparent">
    <button type="button" class="btn-icon-close" (click)="cerrar()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <!-- Mensaje de despedida -->
  <div class="modal-body simple-body">
    <div class="goodbye-content">
      <div class="icono-triste">
        <i class="fa-regular fa-face-sad-tear"></i>
      </div>

      <h2 class="titulo-despedida">¡Qué pena que te vayas!</h2>

      <p class="mensaje">
        Esperamos volver a verte pronto.<br />
        ¡Gracias por haber sido parte de MiViandita!
      </p>
    </div>
  </div>

</div>
