<div class="main-form-container">
  <h1 class="main-h1-title">NUEVA CONTRASEÑA</h1>

  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Nueva contraseña -->
    <div class="form-field password-field">
      <label class="form-label">Nueva contraseña</label>

      <div class="input-with-icon">
        <input
          formControlName="nueva"
          [type]="showNueva ? 'text' : 'password'"
          class="form-input"
          [class.invalid]="
            form.get('nueva')?.invalid && (form.get('nueva')?.touched || form.get('nueva')?.dirty)
          "
          placeholder="Debe cumplir los requisitos de seguridad"
        />

        <button type="button" class="toggle-eye" (click)="toggleNueva()">
          <i class="fa-solid {{ showNueva ? 'fa-eye-slash' : 'fa-eye' }}"></i>
        </button>
      </div>

      <div class="error-messages">
        @if (form.get('nueva')?.invalid && (form.get('nueva')?.touched || form.get('nueva')?.dirty)) {
          @if (form.get('nueva')?.hasError('required')) {
            <p>La nueva contraseña es obligatoria.</p>
          } @if (form.get('nueva')?.hasError('pattern')) {
            <p>
              Debe tener entre 8 y 16 caracteres, una mayúscula, una minúscula, un número y un carácter
              especial.
            </p>
          } @if (form.get('nueva')?.hasError('mismaQueActual')) {
            <p>La nueva contraseña no puede ser igual a la actual.</p>
          }
        }
      </div>
    </div>

    <!-- Repetir contraseña -->
    <div class="form-field password-field">
      <label class="form-label">Repetir nueva contraseña</label>

      <div class="input-with-icon">
        <input
          formControlName="repetir"
          [type]="showRepetirNueva ? 'text' : 'password'"
          class="form-input"
          [class.invalid]="
            form.get('repetir')?.invalid &&
            (form.get('repetir')?.touched || form.get('repetir')?.dirty)
          "
          placeholder="Reingrese la nueva contraseña"
        />

        <button type="button" class="toggle-eye" (click)="toggleRepetirNueva()">
          <i class="fa-solid {{ showRepetirNueva ? 'fa-eye-slash' : 'fa-eye' }}"></i>
        </button>
      </div>

      <div class="error-messages">
        @if (form.get('repetir')?.invalid && (form.get('repetir')?.touched ||
            form.get('repetir')?.dirty))
        {
          @if (form.get('repetir')?.hasError('required')) {
            <p>Debe repetir la contraseña.</p>
          } @if (form.get('repetir')?.hasError('noCoincide')) {
            <p>Las contraseñas no coinciden.</p>
          }
        }
      </div>
    </div>

    <button
      type="submit"
      class="btn"
      [disabled]="form.invalid || isSubmitting()"
    >
      {{ isSubmitting() ? 'Guardando...' : 'Cambiar Contraseña' }}
    </button>

  </form>
</div>
