.main-h1-title {
  margin-bottom: 2rem;
}

.form {
  align-items: center;
  background-color: var(--color-background-secondary);
  border-radius: 1rem;
  box-shadow: var(--shadow-form);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  padding: 2rem;
  width: 60rem;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1.45rem;
}
