.form {
  align-items: center;
  background-color: var(--color-background-secondary);
  border-radius: 1rem;
  box-shadow: var(--shadow-form);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 40rem;
}

.form-field {
  min-height: 10rem;
}

.btn {
  padding: 1rem 2rem;
  font-size: 1.45rem;
}
