<div class="modal-wrapper">
  
  <div class="modal-header">
    <h2 class="modal-title">Cambiar contraseña</h2>
    <button type="button" class="btn-icon-close" (click)="cerrarModal()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>

  <form [formGroup]="form" class="modal-body simple-form-layout">
    
    <!-- Password -->
    <div class="form-field password-field">
      <label for="password" class="form-label">Nueva Contraseña</label>

      <div class="input-with-icon">
        <input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          class="form-input"
          placeholder="Mín 8 carac., mayús, minús, núm."
        />
        <button type="button" class="toggle-eye" (click)="togglePassword()">
          <i class="fa-solid {{ showPassword ? 'fa-eye' : 'fa-eye-slash' }}"></i>
        </button>
      </div>

      <div class="error-messages">
        @if (mostrarError('password')) {
          @if (form.get('password')?.hasError('required')) {
            <p>Campo obligatorio.</p>
          } @else if (form.get('password')?.hasError('pattern')) {
            <p>
              Formato inválido (Revisa mayús/minús/núm).
            </p>
          }
        }
      </div>
    </div>

  </form>

  <div class="modal-footer">
    <div class="footer-left"></div>
    
    <div class="footer-right">
      <button type="button" class="btn-secondary-action" (click)="cerrarModal()">
        Cancelar
      </button>
      
      <button
        type="button"
        class="btn-primary-action"
        (click)="onSubmit()"
        [disabled]="!form.valid"
      >
        <i class="fa-solid fa-key"></i> Cambiar contraseña
      </button>
    </div>
  </div>

</div>
