*, *::after, *::before {
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.top {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.top p {
  --font-size: 3rem;

  font-size: var(--font-size);
  line-height: var(--font-size);
}

.btn-cerrar {
  background-color: inherit;
  color: var(--color-primary);
  font-size: 3rem;
}
