<form class="form-registro" [formGroup]="formRegistro" (ngSubmit)="onSubmit()">
  <!-- Nombre completo -->
  <div class="form-field">
    <label for="nombreCompleto" class="form-label">Nombre completo</label>
    <input
      formControlName="nombreCompleto"
      type="text"
      class="form-input"
      [class.invalid]="
        formRegistro.get('nombreCompleto')?.invalid &&
        (formRegistro.get('nombreCompleto')?.touched || formRegistro.get('nombreCompleto')?.dirty)
      "
      placeholder="Ej.: Juan Pérez"
    />
    <!-- Si el nombre es invalido y el input ya fue tocado de alguna manera, se le agrega la clase invalid al input, asi se manejan visualmente los errores -->

    <div class="error-messages">
      @if (
        formRegistro.get('nombreCompleto')?.invalid &&
        (formRegistro.get('nombreCompleto')?.touched || formRegistro.get('nombreCompleto')?.dirty)
      ) {
        @if (formRegistro.get('nombreCompleto')?.hasError('required')) {
          <p>Campo obligatorio.</p>
        } @else if (formRegistro.get('nombreCompleto')?.hasError('maxLength')) {
          <p>Máximo 256 caracteres.</p>
        }
      }
    </div>
  </div>

  <!-- Email -->
  <div class="form-field">
    <label for="email" class="form-label">Email</label>
    <input
      formControlName="email"
      type="email"
      class="form-input"
      [class.invalid]="
        formRegistro.get('email')?.invalid &&
        (formRegistro.get('email')?.touched || formRegistro.get('email')?.dirty)
      "
      placeholder="Ej.: juanperez@gmail.com"
    />

    <div class="error-messages">
      @if (
        formRegistro.get('email')?.invalid &&
        (formRegistro.get('email')?.touched || formRegistro.get('email')?.dirty)
      ) {
        @if (formRegistro.get('email')?.hasError('required')) {
          <p>Campo obligatorio.</p>
        } @else if (formRegistro.get('email')?.hasError('email')) {
          <p>Email inválido.</p>
        } @else if (formRegistro.get('email')?.hasError('maxLength')) {
          <p>Máximo 254 caracteres.</p>
        }
      }
    </div>
  </div>

  <!-- Telefono -->
  <div class="form-field">
    <label for="telefono" class="form-label">Teléfono</label>
    <input
      formControlName="telefono"
      type="text"
      class="form-input"
      [class.invalid]="
        formRegistro.get('telefono')?.invalid &&
        (formRegistro.get('telefono')?.touched || formRegistro.get('telefono')?.dirty)
      "
      placeholder="Ej.: 2231234567"
    />

    <div class="error-messages">
      @if (
        formRegistro.get('telefono')?.invalid &&
        (formRegistro.get('telefono')?.touched || formRegistro.get('telefono')?.dirty)
      ) {
        @if (formRegistro.get('telefono')?.hasError('required')) {
          <p>Campo obligatorio.</p>
        } @else if (formRegistro.get('telefono')?.hasError('pattern')) {
          <p>Entre 6 y 15 dígitos, sin espacios ni guiones.</p>
        }
      }
    </div>
  </div>

  <!-- Password -->
  <div class="form-field password-field">
    <label for="password" class="form-label">Contraseña</label>

    <div class="input-with-icon">
      <input
        formControlName="password"
        [type]="showPassword ? 'text' : 'password'"
        class="form-input"
        [class.invalid]="
          formRegistro.get('password')?.invalid &&
          (formRegistro.get('password')?.touched || formRegistro.get('password')?.dirty)
        "
        placeholder="Entre 8 y 16 caracteres, y al menos una mayúscula, una minúscula, un número y un carácter especial."
      />
      <button type="button" class="toggle-eye" (click)="togglePassword()">
        <i class="fa-solid {{ showPassword ? 'fa-eye' : 'fa-eye-slash' }}"></i>
      </button>
    </div>

    <div class="error-messages">
      @if (
        formRegistro.get('password')?.invalid &&
        (formRegistro.get('password')?.touched || formRegistro.get('password')?.dirty)
      ) {
        @if (formRegistro.get('password')?.hasError('required')) {
          <p>Campo obligatorio.</p>
        } @else if (formRegistro.get('password')?.hasError('pattern')) {
          <p>
            Entre 8 y 16 caracteres, y al menos una mayúscula, una minúscula, un número y un
            carácter especial.
          </p>
        }
      }
    </div>
  </div>

  <!-- Confirmar Password -->
  <div class="form-field password-field">
    <label for="confirmarPassword" class="form-label">Repetir Contraseña</label>

    <div class="input-with-icon">
      <input
        formControlName="confirmarPassword"
        [type]="showConfirmPassword ? 'text' : 'password'"
        class="form-input"
        [class.invalid]="
          (formRegistro.get('confirmarPassword')?.touched ||
            formRegistro.get('confirmarPassword')?.dirty) &&
          (formRegistro.get('confirmarPassword')?.hasError('required') ||
            formRegistro.hasError('noCoinciden'))
        "
        placeholder="Repetí la contraseña."
      />
      <button type="button" class="toggle-eye" (click)="toggleConfirmPassword()">
        <i class="fa-solid {{ showConfirmPassword ? 'fa-eye' : 'fa-eye-slash' }}"></i>
      </button>
    </div>

    <div class="error-messages">
      @if (
        (formRegistro.get('confirmarPassword')?.touched ||
          formRegistro.get('confirmarPassword')?.dirty) &&
        (formRegistro.get('confirmarPassword')?.hasError('required') ||
          formRegistro.hasError('noCoinciden'))
      ) {
        @if (formRegistro.get('confirmarPassword')?.hasError('required')) {
          <p>Campo obligatorio.</p>
        } @else if (formRegistro.hasError('noCoinciden')) {
          <p>Las contraseñas no coinciden.</p>
        }
      }
    </div>
  </div>

  <!-- Checkboxes -->
  <div class="checkboxes-container">
    <div class="checkbox-container">
      <label>
        <input type="checkbox" formControlName="aceptarTerminos" />

        <p>He leído y acepto las <a (click)="openBasesCondiciones()">bases y condiciones</a>.</p>
      </label>
    </div>

    <div class="checkbox-container">
      <label>
        <input type="checkbox" formControlName="aceptarPoliticas" />

        <p>
          Me comprometo a hacer un buen uso de la plataforma y respetar las
          <a (click)="openNormasComunidad()">normas de la comunidad</a>.
        </p>
      </label>
    </div>
  </div>

  <button
    type="submit"
    class="btn-base btn-primary btn-registro"
    [disabled]="!formRegistro.valid"
    [class.disabled]="!formRegistro.valid"
  >
    <!-- Si el form no es valido, se desabilita el boton, funcional y esteticamente -->
    Registrarse
  </button>
</form>
