<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Nombre completo -->
  <div class="form-field">
    <label for="nombreCompleto" class="form-label">Nombre completo</label>
    <input
      formControlName="nombreCompleto"
      type="text"
      class="form-input"
      [class.invalid]="mostrarError('nombreCompleto')"
      placeholder="Ej: Juan Pérez"
    />

    @if (mostrarError('nombreCompleto')) {
      <div class="error-messages">
        @if (form.get('nombreCompleto')?.hasError('required')) {
          <p>El nombre es obligatorio.</p>
        }
        @if (form.get('nombreCompleto')?.hasError('maxLength')) {
          <p>El nombre no debe superar los 100 caracteres.</p>
        }
        @if (form.get('nombreCompleto')?.hasError('minLength')) {
          <p>El nombre no debe tener al menos 1 caracter.</p>
        }
      </div>
    }
  </div>

  <!-- Email -->
  <div class="form-field">
    <label for="email" class="form-label">Email</label>
    <input
      formControlName="email"
      type="email"
      class="form-input"
      [class.invalid]="mostrarError('email')"
      placeholder="Ej: tunombre@gmail.com"
    />

    @if (mostrarError('email')) {
      <div class="error-messages">
        @if (form.get('email')?.hasError('required')) {
          <p>El email es obligatorio.</p>
        }
        @if (form.get('email')?.hasError('email')) {
          <p>Ingresa un mail válido.</p>
        }
        @if (form.get('email')?.hasError('maxLength')) {
          <p>El mail no debe superar los 100 caracteres.</p>
        }
      </div>
    }
  </div>

  <!-- Telefono -->
  <div class="form-field">
    <label for="telefono" class="form-label">Teléfono</label>
    <input
      formControlName="telefono"
      type="text"
      class="form-input"
      [class.invalid]="mostrarError('telefono')"
      placeholder="Ej: 11234567890"
    />

    @if (mostrarError('telefono')) {
      <div class="error-messages">
        @if (form.get('telefono')?.hasError('required')) {
          <p>El teléfono es obligatorio.</p>
        }
        @if (form.get('telefono')?.hasError('pattern')) {
          <p>El telefono debe tener entre 10 y 16 caracteres numericos.</p>
        }
      </div>
    }
  </div>

  <!-- Imagen -->
  <div class="image-upload">
    <input
      type="file"
      id="imagen-file"
      #fileInput
      (change)="onFileSelected($event); onFileInputReady(fileInput)"
      class="form-file-input"
      accept="image/*"
    />

    <label for="imagen-file" class="upload-box-visual">
      @if (imagePreviewUrl) {
        <img class="image-preview" [src]="imagePreviewUrl">
      } @else {
        <span class="upload-icon">⤒</span>
        <br />
        <span class="upload-text">Cargar nueva imagen</span>
      }
    </label>

    <div class="image-placeholder-message">
      @if (!selectedFileName) {
        <p class="placeholder-info">No se seleccionó una nueva imagen.</p>
      } @else {
        <p class="success-message">Archivo cargado: {{ selectedFileName }}</p>
      }
    </div>
  </div>

  <button
    type="submit"
    class="btn"
    [disabled]="!form.valid"
  >
    Actualizar usuario
  </button>
</form>
