<div class="usuario-card">
  <img class="card-img" [src]="usuario.imagenUrl">

  <p class="nombre">{{ usuario.nombreCompleto }}</p>

  <div class="email-telefono-container">
    <p><a [href]="'mailto:' + usuario.email">{{ usuario.email }}</a></p>
    <p><a [href]="'tel:' + usuario.telefono">{{ usuario.telefono }}</a></p>
  </div>

  <div class="status-container">
    @if (isEditable() && !usuario.enabled) {
      <div class="not-enabled-container">
        <p class="not-enabled-text">NO VERIFICADO</p>

        <button class="btn enable-button" (click)="enable()" title="Activar">
          <i class="fa-regular fa-circle-check"></i>
        </button>
      </div>
    }

    @if (isBanned()) {
      <p class="banned-text">
        <span>BLOQUEADO:</span> {{ banDate }}
      </p>
    }

    @if (isDeleted()) {
      <p class="deleted-text">
        <span>ELIMINADO:</span> {{ deletionDate }}
      </p>
    }
  </div>

  <div class="rol-container">
    <p class="rol">{{ usuario.rolUsuario }}</p>
  </div>

  <div class="buttons-container">
    <button class="btn" (click)="changePassword()" [disabled]="!isEditable()" title="Cambiar contraseña">
      <i class="fa-solid fa-key"></i>
    </button>

    <button class="btn" (click)="edit()" [disabled]="!isEditable()" title="Actualizar">
      <i class="fa-regular fa-pen-to-square"></i>
    </button>

    <button class="btn" (click)="toggleBan()" [disabled]="!isEditable()" title="Bloquear">
      @if (isBanned()) {
        <i class="fa-solid fa-lock-open"></i>
      } @else {
        <i class="fa-solid fa-lock"></i>
      }
    </button>

    <button class="btn" (click)="delete()" [disabled]="!isEditable()" title="Eliminar">
      <i class="fa-regular fa-trash-can"></i>
    </button>
  </div>
</div>
