<div class="page-container">

  <div class="header-section">
    <h1 class="main-title">PEDIDOS</h1>
    <p class="subtitulo">Gestión y seguimiento de órdenes</p>
  </div>

  <div class="filters">
    <!-- Filtro Nombre -->
    <input
      type="text"
      class="filter-input"
      placeholder="Filtrar por emprendimiento..."
      [value]="pedidoService.filtroEmprendimiento() || ''"
      (input)="onEmprendimientoInput($event)"
    />

    <!-- Filtro Estado -->
    <div class="select-custom-wrapper">
      <div class="select-trigger" [class.open]="openEstado" (click)="toggleEstado($event)">
        <div class="selected-option">{{ pedidoService.filtroEstado() || 'Estado: Todos' }}</div>
        <div class="arrow">▾</div>
      </div>

      @if (openEstado) {
        <ul class="options">
          <li (click)="setEstado(null); $event.stopPropagation()">Todos</li>
          @for (estado of estados; track estado) {
            <li (click)="setEstado(estado); $event.stopPropagation()">{{ estado }}</li>
          }
        </ul>
      }
    </div>

    <!-- Filtro Fecha -->
    <div class="date-picker-wrapper">
      <app-date-range-picker
        (fechasSeleccionadas)="pedidoService.filtroFechas.set($event)"
      ></app-date-range-picker>
    </div>
  </div>

  <div class="pedidos-list">
    @if (pedidoService.pedidos().length === 0) {
      <div class="estado-vacio">
        <p class="sin-pedidos">No se encontraron pedidos con estos filtros.</p>
      </div>
    } @else {
      @for (p of pedidoService.pedidos(); track p.id) {
        <app-pedido-admin-card [pedido]="p"></app-pedido-admin-card>
      }

      <!-- Paginación -->
      @if (pageInfo(); as info) {
        <app-paginador 
            [currentPage]="info.number" 
            [totalPages]="info.totalPages" 
            (pageChange)="onPageChange($event)">
        </app-paginador>
      }
    }
  </div>
</div>
