<div class="tooltip-container">
  <i class="fa-solid fa-circle-info icon-info"></i>
  
  <div class="tooltip-box">
    <h4 class="tooltip-title">Estados del Ticket</h4>
    <ul class="lista-estados">
      <li>
        <span class="badge badge-pendiente">Pendiente</span>
        <p>Tu reporte fue recibido y espera revisión.</p>
      </li>
      <li>
        <span class="badge badge-proceso">En Proceso</span>
        <p>Soporte está analizando tu caso.</p>
      </li>
      <li>
        <span class="badge badge-resuelto">Resuelto</span>
        <p>Se ha brindado una solución o respuesta.</p>
      </li>
      <li>
        <span class="badge badge-rechazado">Cerrado</span>
        <p>El reporte fue desestimado o finalizado.</p>
      </li>
    </ul>
  </div>
</div>