:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

.modal-body.simple-body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
  overflow-y: auto;
}

.modal-description {
  font-size: 1.5rem;
  color: var(--color-text-secondary);
  line-height: 1.5;
  margin: 0 0 1rem 0;
}

@media (max-width: 600px) {
  .modal-body.simple-body {
    padding: 2rem;
  }
  
  .modal-footer {
    flex-direction: column-reverse;
  }
  
  .footer-right, .btn-secondary-action, .btn-primary-action {
    width: 100%;
  }
}
